@charset "UTF-8";

html {
	overflow: auto;
	min-height: 100%;
}

body {
	background-image: url("../images/barbuzzo2.jpg");
	background-color: rgb(237, 240, 241);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 0 0 0;
	min-height: 100%;
}

header {
	font-family: 'Petit Formal Script', cursive;
	color: #000;
	text-align: center;
	font-size: 50px;
	width: 100%;
	height: 80px;
	position: fixed;
	float: left;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgb(237, 240, 241, 0.6);
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.names {
	font-family: 'Petit Formal Script', cursive;
	color: #000;
	font-size: 2.5em;
}

.container {
	font-family: 'Roboto Slab', serif;
	font-size: 1.0625em;
	font-weight: 300;
	width: 50%;
	left: 25%;
	top: 50%;
	padding: 20px 10px 10px 10px;
	position: relative;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	border-radius: 5px;
}

.thankyoucontainer {
	font-family: 'Roboto Slab', serif;
	font-size: 1.0625em;
	font-weight: 400;
	width: 50%;
	left: 25%;
	top: 50%;
	padding: 20px;
	margin-top: 10%;
	position: relative;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	border-radius: 5px;
}

.boxHeader {
 margin-bottom: 2px;
}

.inputfield {
	width: 45%;
}

input {
	text-align: center;
	background: #fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 450;
	padding: 4px;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
	border: 0;
}

input:hover, select:hover {
	border: #000 1px solid;
	margin: -1px;
}

input:focus, select:focus, button:focus {
	border: #000 1px solid;
	margin: -1px;
}

button {
	background: #fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 450;
	padding: 10px;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
	border: 0;
}

button:hover {
	color: #fff;
	margin: -1px;
	border: #fff 1px solid;
	background: #389dff;
	cursor: pointer;
	transition:all 0.1s ease;
}

#emptyFieldMessage {
	display: none;
	width: 85%;
	font-weight: 400;
	color: red;
}

hr {
	width: 75%;
}

.confirminfo {
	background: #fff;
	padding: 7px;
	border-radius: 5px;
	margin: 10px;
}

footer {
	text-align: center;
	background-color: #fff;
	width: 10%;
	font-size: 0.9em;
	float: left;
	border-radius: 3px;
}

span a {
	color: blue;
}

@media screen and (max-width: 630px) {

	body {
	background-position: center;
	background-size: 400% 110%;
	}	

	.container {
	font-family: 'Roboto Slab', serif;
	font-size: 1.0625em;
	font-weight: 300;
	width: 95%;
	left: 0;
	top: 50%;
	padding: 20px 10px 10px 10px;
	position: relative;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	border-radius: 5px;
	}

	.thankyoucontainer {
	font-family: 'Roboto Slab', serif;
	font-size: 1.0625em;
	font-weight: 400;
	width: 95%;
	left: 0;
	top: 50%;
	padding: 20px 10px 10px 10px;
	margin-top: 50%;
	position: relative;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	border-radius: 5px;
	}

	.inputfield {
	width: 75%;
	}
}