<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="Cache-control" content="NO-CACHE">

	<link rel="stylesheet" type="text/css" href=".\css\style2.css">

	<title>List of Attendees</title>
</head>
<body>
<h1>People going to Jason and Margaret's Wedding</h1>
<table style="border-collapse: collapse;">
	<tr>
		<th>No.</th>
		<th>Name</th>
	</tr>
	<% people.forEach((player, index) => { %>
	<tr>
		<td><%= index + 1 %></td>
		<td><%= player.name %></td>
	</tr>
	<% }) %>
</table>
</body>
</html>